* {
    margin: 0;
    padding: 0;
}
/*展示区域背景*/
#playground {
    position: relative;
    height: 300px;
    background: #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*显示样式的描述*/
#description{
    width: 200px;
    height: 250px;
    color: #38668B;
    border: 1px solid #9ADD4D;
    box-shadow: -5px 5px rgba(154,221,77,0.5);
}
/*展示的div块*/
#show-box {
    /*position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;*/
    width: 100px;
    height: 100px;
    text-align: center;
    background: #FFFF99;
}
/*样式代码显示*/
#editor{
    width: 200px;
    height: 250px;
    color: #9C9C37;
    border: 1px solid #75ACEB;
    box-shadow: 5px 5px rgba(117,172,235,0.5);
}
/*下拉框的父级div*/
#nav-box {
    width: 200px;
    margin: auto;
}
/*下拉框首部的文本*/
#nav{
    margin: 10px auto 0;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
}
/*下拉框首部的文本*/
#nav-text {
    display: inline-block;
    width: 150px;
}
/*下拉框首部的箭头*/
#nav i{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 15px;
    background: url(../img/arrow.png) 0 0 no-repeat;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}
/*箭头的旋转动画*/
#nav-box:hover i {
    transform: rotateZ(-180deg);
}
/*下拉框选项的包裹div块*/
#nav-content {
    display: none;
    height: 92px;
    overflow-y: auto;
} 
/*当用户鼠标移动到下拉框时，下拉框选项显示*/
.show #nav-content {
    display: block;
}
/*选项*/
.option{
    cursor: pointer;
    border: 1px solid #ddd;
}

.option:hover{
    background: #99CCFF;
    color: #ffffff;
}
/*第一个选项：背景*/
.background {
    background: url(../img/avatar-mini.jpg) center no-repeat #CECF96 scroll !important;
}
/*第二个选项：背景颜色*/
.background-color{
    background-color: #99CCFF !important;
}
/*第三个选项：背景图片*/
.background-image {
    background-image: url(../img/avatar-mini.jpg) !important;
}
/*第四个选项：背景是否重复*/
#playground .background-repeat {
    background-image: url(../img/avatar-mini.jpg) !important;
    background-repeat: no-repeat;
}
/*第五个选项：背景起始位置*/
#playground .background-position {
    background-image: url(../img/avatar-mini.jpg) !important;
    background-repeat: no-repeat;
    background-position: center left;
}